

.avatar img {
  border-radius: 50%;
}

@font-face {
    font-family: "Nunito";
    font-weight: 300;
    font-style: normal;
    font-display: auto;
    src: url(fonts/Nunito/Nunito-Light.ttf);
}
@font-face {
    font-family: "Nunito";
    font-weight: 300;
    font-style: italic;
    font-display: auto;
    src: url(fonts/Nunito/Nunito-LightItalic.ttf);
}
@font-face {
    font-family: "Nunito";
    font-weight: 400;
    font-style: normal;
    font-display: auto;
    src: url(fonts/Nunito/Nunito-Regular.ttf);
}
@font-face {
    font-family: "Nunito";
    font-weight: 400;
    font-style: italic;
    font-display: auto;
    src: url(fonts/Nunito/Nunito-Italic.ttf);
}
@font-face {
    font-family: "Nunito";
    font-weight: 600;
    font-style: normal;
    font-display: auto;
    src: url(fonts/Nunito/Nunito-SemiBold.ttf);
}
@font-face {
    font-family: "Nunito";
    font-weight: 700;
    font-style: normal;
    font-display: auto;
    src: url(fonts/Nunito/Nunito-Bold.ttf);
}
@font-face {
    font-family: "Nunito";
    font-weight: 700;
    font-style: italic;
    font-display: auto;
    src: url(fonts/Nunito/Nunito-BoldItalic.ttf);
}
@font-face {
    font-family: "Nunito";
    font-weight: 800;
    font-style: normal;
    font-display: auto;
    src: url(fonts/Nunito/Nunito-ExtraBold.ttf);
}
@font-face {
  font-family: "ForkAwesome";
  font-style: normal;
  font-weight: 400;
  src: local("ForkAwesome"), url("/fonts/fork-awesome/forkawesome-webfont.woff2") format("ttf"), url("/fonts/fork-awesome/forkawesome-webfont.woff") format("woff");
}
